<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PetandtagDao">
	<insert id="insertPetandtag" parameterType="Petandtag" useGeneratedKeys="true" keyProperty="id">
		insert into Petandtag(idPet,idTag)  
             values(#{idPet},#{idTag})  
	</insert>
	<delete id="deletePetandtag" parameterType="int">
        delete from Petandtag where idPet=#{id}
    </delete>
</mapper>